.contacts {
    height: 1217px;
    background-image: url(./assets/images/contacts-bg.png);
    background-size: 100% calc(100% - 261px);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-color: $bcg-light;
    margin-top: -1px;
    .wrapper {
        @include wrapper;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 768px) {
            justify-content: flex-end;
        }
        @media screen and (max-width: 426px) {
            justify-content: flex-start;
            width: 95%;
        }
    }
    &__form {
        flex-basis: 37%;
        width: 60%;
        background-color: #181818;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 4%;
        .row {
            display: flex;
            width: 60%;
            justify-content: space-between;
            @media screen and (max-width: 426px) {
                flex-direction: column;
                width: 100%;
                flex-basis: 33%;
            }
        }
        &_heading {
            font-family: $yeseva;
            font-size: 1.25em;
            color: $bcg-light;
            @media screen and (max-width: 426px) {
                align-self: center;
            }
        }
        [for=question] {
            width: 60%;
            @media screen and (max-width: 426px) {
                width: 100%;
            }
        }
        [for=name3], [for=phone3], [for=question] {
            display: flex;
            flex-direction: column;
            font-family: $ft-book;
            font-size: 0.9em;
            color: rgba(255, 255, 255, 0.5);
            &:hover {
                color: $accent;
            }
        }
        &_name-input, &_phone-input, &_question-input {
            font-family: $ft-medium;
            font-size: 1.2em;
            line-height: 2;
            border: none;
            border-bottom: 1px solid rgba(54, 54, 54, 0.3);
            background-color: #181818;
            color: #fff;
            &:focus {
                outline: none;
                border-bottom: 1px solid $accent;
                transition: all 1000ms ease;
            }
            &::placeholder {
                color: #fff;
            }
            @media screen and (max-width: 426px) {
                background-color: $bcg-dark;
            }
        }
        &_checkbox {
            [for=checkbox3] {
                font-family: $ft-book;
                font-size: 1em;
                line-height: 2;
                color: $bcg-light;
            }
            [type=checkbox] {
                display: none;
            }
            [type=checkbox] + label:before {
                content: "\2713";
                color: $accent;
                background-color: $accent;
                display: inline-block;
                font-size: 20px;    
                line-height: 22px;
                margin: -5px 10px 0 0;
                height: 18px;
                width: 18px;
                text-align: center;
                border-radius: 1px;
                vertical-align: middle;
                transition: color ease .3s;
            }
            input[type=checkbox]:checked + label:before {
                color: $bcg-light;
            }
        }
        &_button {
            @include button;
            width: 200px;
            height: 51px;
            box-shadow: none;
            border-radius: 0;
            &:hover {
                @include button-hover;
            }
            @media screen and (max-width: 768px) {
                width: 150px;
                height: 30px;;
            }
            @media screen and (max-width: 426px) {
                width: 320px;
                height: 51px;
                align-self: center;
            }
            @media screen and (max-width: 320px) {
                width: 300px;
                height: 45px;
            }
        }
        @media screen and (max-width: 1024px) {
            width: 80%;
        }
        @media screen and (max-width: 768px) {
            width: 60%;
            flex-basis: 70%;
        }
        @media screen and (max-width: 426px) {
            background-color: $bcg-dark;
            width: 90%;
            flex-basis: 40%;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 30%;
        }
    }
    &__data {
        max-width: 570px;
        font-family: $yeseva;
        font-size: 1.25em;
        line-height: 2;
        text-align: center;
        color: $accent;
        margin: 3% 0 1%;
        a {
            color: $accent;
            text-decoration: none;
        }
        @media screen and (max-width: 768px) {
            max-width: 350px;
        }
        @media screen and (max-width: 426px) {
            margin-top: 95%;
        }
    }
    &__social-media {
        display: flex;
        width: 8%;
        justify-content: space-evenly;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_email {
            width: 28px;
            height: 28px;
            background-color: $accent;
            border: none;
            border-radius: 50%;
            &:hover {
                box-shadow: -1px -1px 21px 0px rgba(255,255,255,1);
                cursor: pointer;
            }
        }
        &_instagram {
            width: 28px;
            height: 28px;
            background-color: $accent;
            border: none;
            border-radius: 50%;
            &:hover {
                box-shadow: -1px -1px 21px 0px rgba(255,255,255,1);
                cursor: pointer;
            }
        }
        @media screen and (max-width: 768px) {
            width: 15%;
        }
        @media screen and (max-width: 426px) {
            width: 35%;
        }
    }
    &__map-container {
        filter: grayscale(1);
        margin-top: 3%;
        &:hover {
            filter: none;
        }
        iframe {
            width: 925px;
            height: 465px;
            @media screen and (max-width: 768px) {
                display: none;
            }
            @media screen and (max-width: 426px) {
                display: block;
                width: 340px;
                height: 255px;
                margin: 0;
            }
            @media screen and (max-width: 320px) {
                width: 300px;
                height: 215px;
            }
        }
        @media screen and (max-width: 426px) {
            position: absolute;
            top: 54%;
        }
    }
    &::before {
        content: '';
        height: 261px;
        width: 100%;
        background-image: url(./assets/images/town.svg);
        position: absolute;
        background-repeat: repeat-x;
        background-position-y: bottom;
        opacity: 0.05;
        @media screen and (max-width: 768px) {
            bottom: 0;
        }
    }
    @media screen and (min-width: 1441px) {
        margin-top: -2px;
    }
    @media screen and (max-width: 768px) {
        background-image: none;
        font-size: 70%;
        height: 400px;
        position: relative;
    }
    @media screen and (max-width: 426px) {
        &::before {
            display: none;
        }
        background: $bcg-dark;
        height: 1051px;
        position: relative;
        font-size: 100%;
    }
}