.page-header {
    height: 83px;
    background-color: $bcg-dark;
    font-family: $ft-demi;
    .logo {
        flex-basis: 20%;
        &__text {
            font-size: 0.8em;
            color: $accent;
            @media screen and (max-width: 768px) {
                font-size: 0.5em;
            }  
            @media screen and (max-width: 426px) {
                font-size: 0.7em;
            }
        }
        @media screen and (max-width: 426px) {
            flex-basis: 60%;
        }
    }
    .navigation {
        flex-basis: 50%;
        .menu {
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-family: $ft-book;
            &__menu-item {
                font-size: 0.8em;
                .selected {
                    color: $accent;
                }
                &_item-link {
                    color: $bcg-light;
                    text-decoration: none;
                    transition: $ease;
                    border-bottom: 1px solid transparent;
                    &:hover {
                        color: $accent;
                        border-bottom: 1px solid $accent;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 0.6em;
                    }
                }
            }
        } 
        @media screen and (max-width: 426px) {
            display: none;
        }
    }
    .contact-data {
        flex-basis: 30%;
        display: flex;
        justify-content: flex-end;
        &__tel {
            color: $accent;
            font-size: 0.8em;
            align-self: center;
            transition: $ease;
            border-bottom: 1px solid $accent;
            text-decoration: none;
            &:hover {
                color: #fff;
                border-bottom: 1px solid $bcg-light;
            }
            @media screen and (max-width: 768px) {
                font-size: 0.5em;
            }
            @media screen and (max-width: 426px) {
                font-size: 0.7em;
                color: $bcg-light;
                border: none;
                font-family: $ft-demi;
            }
        }
        &__button {
            @include button;
            font-size: 0.7em;
            font-family: $ft-demi;
            padding: 3% 0;
            margin-left: 18%;
            flex-basis: 40%;
            transition: $ease; 
            &:hover {
                @include button-hover;
            }
            @media screen and (max-width: 1024px) {
                margin-left: 5%;
            }
            @media screen and (max-width: 768px) {
                font-size: 0.4em;
            }
            @media screen and (max-width: 426px) {
                display: none;
            }
        }
        @media screen and (max-width: 426px) {
            flex-basis: 40%;
        }
    }
    .wrapper {
        @include wrapper;
        width: 88%;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 426px) {
            .wrapper {
                width: 95%;
            }
        }
    }
    @media screen and (max-width: 768px) {
        height: 57px;
    } 
}