.scroll {
    width: 247px;
    height: 97px;
    background: #131313;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    margin-top: -97px;
    font-family: $yeseva;
    font-size: 0.8em;
    transition: $ease; 
    p {
        margin-right: 5%;
    }
    &:hover {
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.25);
        font-size: 1em;
        cursor: pointer;
    }
    @media screen and (max-width: 1023px) {
        display: none;
    }
}