@font-face {
    font-family: 'Proxima Nova Regular';
    src: url(../../assets/fonts/ProximaNova-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Futura Book Cyrillic';
    src: url(../../assets/fonts/FuturaBookC.ttf);
  }
  
  @font-face {
    font-family: 'Futura Demi Cyrillic';
    src: url(../../assets/fonts/FuturaDemiC.ttf);
  }
  
  @font-face {
    font-family: 'Futura Medium Cyrillic';
    src: url(../../assets/fonts/FuturaMediumC.ttf);
  }
  
  @font-face {
    font-family: 'Yeseva One';
    src: url(../../assets/fonts/YesevaOne.ttf);
  }

$proxima: 'Proxima Nova Regular';
$ft-book: 'Futura Book Cyrillic';
$ft-demi: 'Futura Demi Cyrillic';
$ft-medium: 'Futura Medium Cyrillic';
$yeseva: 'Yeseva One';